.graphPage {
	display: grid;
	grid-template-areas: 'graph-container' 'data-container';
	grid-template-columns: auto;
	grid-template-rows: minmax(500px, 80vh) auto;
}

.container {
	background: #FFFFFF;
	border: 1px solid #E9ECEF;
	box-shadow: 0 1px 2px rgba(51, 65, 86, 0.08);
	border-radius: 12px;
	margin: 14px;
}

.graphContainer {
	grid-area: graph-container;
	display: flex;
	align-items: center;
}
.dataContainer {
	grid-area: data-container;
	margin-top: 0;
	padding: 20px;
}

.legend_item {
	display: flex;
	align-items: center;
	gap: 3px;
}

.legend_colorIcon {
	display: inline;
}