.graphPage {
	display: grid;
	grid-template-areas: 'graph-container' 'data-container';
	grid-template-columns: auto;
	grid-template-rows: minmax(700px, 80%) 2fr;
}

.graph-container {
	grid-area: graph-container;
	border-bottom: black 1px solid;
	padding: 20px;
}
.data-container {
	grid-area: data-container;
	padding: 20px;
}