.menu {
	margin: 0;
	padding: 0;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menuItem {
	padding: 15px 10px;
}

.menuItem details summary {
	cursor: pointer;
}

.menuSubItem {
	padding-top: 5px;
	border-left: 2px solid white;
	margin-left: 4px;
}

.subLink {
	color: white;
	text-decoration: none;
	padding-left: 10px;

}
