.page {
	display: grid;
	overflow: hidden;
	min-height: 100%;
	grid-template-areas: 'sidebar graph' 'sidebar data';
	grid-template-columns: 200px auto;
	grid-template-rows: auto 300px;
}

.sidebar {
	grid-area: sidebar;
	border-right: black 1px solid;
	padding: 20px;
}
.graph {
	grid-area: graph;
	border-bottom: black 1px solid;
	padding: 20px;

}
.data {
	grid-area: data;
	padding: 20px;
}